# ===== FRONTEND (Angular) =====
mundial-frontend/node_modules/
mundial-frontend/dist/
mundial-frontend/.angular/

# ===== BACKEND (Spring Boot) =====
mundial-backend/target/

# ===== IDEs =====
.vscode/
.idea/

# ===== MAC =====
.DS_Store

# ===== LOGS =====
*.log

# ===== ENV FILES =====
.env
application-local.properties